body{background:linear-gradient(-45deg, #48A4B1,#2C7083, #2A525E);}

#logosignin{
    display: grid;
    place-items:center;
    padding-top: 3%;
    animation: logo 3s ease-in-out;

}


@keyframes imagem{
    0%{
    transform: translatey(0px);}
    50%{
        transform: translatey(-30px);
    }
    100%{
        transform: translatey(0px);
    }
}

@keyframes logo{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes menu{
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes menuhover{
    0%{
        opacity: 0;
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
        transform: translateY(-10px);
        color:  red;
        font-size: 25px;
    }
}
@keyframes login{
    0%{
        background-color: #2C7083;
    }
    100%{
        background-color: red;
        color: #fff;
    }
}
#logo{
    padding-left: 10%;
    display: grid;
    place-items:center;
    padding-top: 3%;
    animation: logo 3s ease-in-out;
    
}
nav {
    width: 100%;
    display: inline-block;
    animation: menu 4s ease;
    padding-top: 14%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    
}

nav li:hover{
    animation: menuhover 0.5s ease ;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

nav li { 
    padding-left: 10%;
    color: #fff;
    display: inline-block;
    list-style: none;
    
}
.texto {
    color: #fff;
    float: left;
    width: 50vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 2%;
    margin-top: 3%;
    margin-bottom: 1000px;
}
.titulo{
    width: 50vw;
    font-family: sans-serif;
    color: rgba(255, 0, 0, 0.493);
    font-weight: 700;
    font-size: 30px;
    margin-top: 30%;
    padding-left: 2%;
    
}
.imagem{
    align-items: center;
    float: right;
    width: 40vw;
    animation: imagem 5s ease-in-out infinite;
   
}
.login {
    float: right;
    display: flex;
    padding-right: 2%;
    padding-top: 1%;
}
.login button{
    background-color: #2C7083;
    height: 50px;
    width: 100px;
    margin-right: 3%;
    border-radius: 30%;
    border-color: black;
    font-weight: 700;
}
.login button:hover{
    animation: login 0.5s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.logincampos{
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin-bottom: 7%;
    font-family: cursive;
}
.logincampos button{
    font-family: cursive;
    width: 300px;
    height: 40px;
    margin-top: 3%;
    background-color: #91effc;
    border-radius: 25px;
    color: black;
    font-weight: 700;
    
}
.logincampos button:hover{
    animation: login 0.5s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.logincampos h1{
    margin-top: 10%;
    margin-bottom: 5%;
}
.logincampos input {
    font-family: cursive;
    text-align: center;
    margin-top: 2%;
    width: 800px;
    height: 40px;
    background-color: #91effc;
    border-radius: 25px;
    box-shadow: 10px 10px 10px 10px #4171BD;
}



